/* For fequal height row */
.height-full .mk-custom-box,
.height-full .box-holder {
  height: 100%;
  width: 100%;
  transition: background .2s ease-in-out;
}
.mk-custom-box .mk-custom-box--overlay {
  width: 100%;
  height: 100%;
  position: absolute !important;
  z-index: 2 !important;
  left: 0;
  top: 0;
  pointer-events: none;
}
.mk-custom-box .box-holder {
  position: relative;

}
.mk-custom-box .box-holder.clearfix {
  /*overflow: auto;*/
}
.mk-custom-box .box-holder > .wpb_row:before,
.mk-custom-box .box-holder > .wpb_row:after {
  content: " ";
  display: table;
}
.mk-custom-box .box-holder > .wpb_row:after {
  clear: both;
}

.mk-custom-box .box-holder:after,
.mk-custom-box.hover-effect-image.image-effect-blur .box-holder:before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
}
.mk-custom-box .box-holder > * {
  position: relative;
  z-index: 3;
}
.mk-custom-box.hover-effect-single_color .box-holder:after,
.mk-custom-box.hover-effect-gradient_color .box-holder:after {
  opacity: 0;
  transition: opacity .2s linear;
}
.mk-custom-box.hover-effect-single_color:hover .box-holder:after,
.mk-custom-box.hover-effect-gradient_color:hover .box-holder:after {
  opacity: 1;
  transition: opacity .2s;
}
.mk-custom-box.hover-effect-image,
.mk-custom-box.hover-effect-image.image-effect-blur .box-holder {
  overflow: hidden;
}

.mk-custom-box.hover-effect-image.image-effect-zoom-in .box-holder:after {
  -webkit-transform: scale(1.04);
          -ms-transform: scale(1.04);
      transform: scale(1.04);
  transition: -webkit-transform .35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform .35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform .35s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform .35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.mk-custom-box.hover-effect-image.image-effect-zoom-in .box-holder:hover:after {
  -webkit-transform: scale(1.11);
          -ms-transform: scale(1.11);
      transform: scale(1.11);
  z-index: 1;
}

.mk-custom-box.hover-effect-image.image-effect-blur .box-holder:after,
.mk-custom-box.hover-effect-image.image-effect-blur .box-holder:before {
  -webkit-transform: scale(1.03);
          -ms-transform: scale(1.03);
      transform: scale(1.03);
}
.mk-custom-box.hover-effect-image.image-effect-blur .box-holder:before {
  opacity: 0;
  transition: opacity .2s;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  z-index: 2;
}
.mk-custom-box.hover-effect-image.image-effect-blur .box-holder:hover:before {
  opacity: 1;
}
.mk-custom-box.hover-effect-image.image-effect-grayscale .box-holder:after {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: -webkit-filter .2s linear;
  transition: filter .2s linear;
  transition: filter .2s linear, -webkit-filter .2s linear;
  transition: -ms-filter 0.2s linear;
  transition: -o-filter 0.2s linear;
  transition: -moz-filter 0.2s linear;
  transition: -webkit-filter 0.2s linear;
}
.mk-custom-box.hover-effect-image.image-effect-grayscale .box-holder:hover:after {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
}
