body.login {
  background-color: #333333;
}
body.login div#login {}
body.login div#login h1 {}
body.login div#login h1 a {}
body.login div#login form {
  background: #f1f1f1;
}
body.login div#login form p {}
body.login div#login form p label {}
body.login div#login form input {}
body.login div#login form input#user_login {}
body.login div#login form input#user_pass {}
body.login div#login form p.forgetmenot {}
body.login div#login form p.forgetmenot input#rememberme {}
body.login div#login form p.submit {}
body.login div#login form p.submit input#wp-submit {
  background: #00a8d4; border-color: #00a8d4; color: #f1f1f1;
}
body.login div#login p#nav {
  color: #cccccc;
}
body.login div#login p#nav a {
  color: #cccccc;
}
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a {
  color: #cccccc;
}
