/**
 * @license
 * MyFonts Webfont Build ID 3425427, 2017-07-20T10:03:03-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Axiforma-Heavy by Kastelov
 * URL: https://www.myfonts.com/fonts/kastelov/axiforma/heavy/
 * Copyright: Copyright &#x00A9; 2017 by Kastelov. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3425427
 * 
 * © 2017 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/344493");

  
@font-face {font-family: 'Axiforma-Heavy';src: url('webfonts/344493_0_0.eot');src: url('webfonts/344493_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/344493_0_0.woff2') format('woff2'),url('webfonts/344493_0_0.woff') format('woff'),url('webfonts/344493_0_0.ttf') format('truetype');}
 